<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/bootstrap-icons-1.5.0/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/public/css/admin/login.css">
    <link rel="stylesheet" href="/public/css/admin/bar.css">
    <!-- <script src="/public/js/auth-admin.js"></script> -->
</head>

<body>
    <div class="ps-5">
        <button class="btn text-white" onclick="goBack()">
            <i class="bi bi-arrow-left" style="font-size: 36px;"></i>
        </button>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class=" mt-5">
                <h5 class="title">Admin</h5>
            </div>
        </div>
        <div class="container mb-4" style="width: 350px">
            <div class="d-flex justify-content-center my-4">
                <div class="logo">
                </div>
            </div>
            <form id="formLogin">
                <div class="mb-3">
                    <label for="" class="form-label text">Email</label>
                    <input type="email" class="form-control " name="email" id="" aria-describedby="helpId"
                        placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label text">Password</label>
                    <input type="password" class="form-control " name="password" id="" aria-describedby="helpId"
                        placeholder="" required>
                </div>

                <!-- <a href="" class="d-flex justify-content-end">
                        <p class="text">forget password...</p>
                    </a> -->
                <div class="mb-3 mt-5 row">
                    <button type="submit" class="buttonlogin col">Login</button>
                </div>
            </form>

        </div>
    </div>
    <script src="/public/js/admin/login.js"></script>
</body>

</html>