<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css" /> -->
      <title>List</title>
      <link rel="stylesheet" href="/public/css/user/proj.css" />
      <script src="/public/js/bootstrap.bundle.min.js"></script>
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      />
      <link
      rel="stylesheet"
      href="/public/css/bootstrap-icons-1.5.0/bootstrap-icons.css"
      />
      <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
      />
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      />
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <link rel="stylesheet" href="/public/css/admin/returnasset.css" />
      
      <link rel="stylesheet" href="/public/css/admin/bar.css">
    <!-- animation -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body>
    <!-- ! side bar -->
    <nav class="sidebar close text-center">
      <header>
        <div class="sidebar-logo">
          <a href="#">BORROWING</a>
        </div>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <li class="" >
            <a href="/admin/dashboard">
              <span class="text nav-text text-center">Dashboard</span>
            </a>
          </li>
          <li class="disabled" style="background-color: #454545">
            <a href="#">
              <span class="text nav-text text-center">Return asset</span>
            </a>
          </li>
          <li class="">
            <a href="/admin/assetlist">
              <span class="text nav-text text-center">Asset list</span>
            </a>
          </li>
          <li class="">
            <a href="/admin/history">
              <span class="text nav-text text-center">History</span>
            </a>
          </li>
          <li class="">
            <a href="#" id="logout">
              <span class="text nav-text text-center">Logout</span>
            </a>
          </li>
        </div>
      </div>
    </nav>
    <section class="home">
      <!-- ! nav bar -->
      <nav class="navbar navbar-expand-lg">
        <button class="btn" id="sidebarToggle">
          <i class="fa fa-bars"></i>
        </button>
        <li class="searchbox">
          <i class="fas fa-search icon_search"></i>
          <input class="searchinput" type="text" placeholder="Search..."  onkeyup="searchBorrowedItems()"/>
        </li>
        <button class="btn" id="users">
          <i class="fas fa-hand-holding"></i>
          Return
        </button>
      </nav>
      <!-- ! Home -->
      <div class="container p-5 rounded-container dark">
        <!-- content -->
          <!-- ! content header -->
          <div class="d-flex justify-content-between px-5">
            <div class="circle-header" id="recently">
              <h3 id="">Retrun Asset</h3>
            </div>
          </div>
          <!-- ! content list -->
          <div class="container listborrow p-5" id="borrow">
            <!-- <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="circle-listasset col-6">
                    <h4>Assets name</h4>
                </div>
                <div class="time col-4">
                    <h5>Return date: <span>11/7/2023</span></h5>
                </div>
                <button type="button" class="btn col-2 bg-success" onclick="openModal()">Pending</button>
            </div> -->
            <!-- <button type="button" class="btn col-2 bg-warning">Borrowing</button> -->
          </div>
      </div>
    </section>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start rounded-end-5" id="menu">
      <div class="offcanvas-header">
        <i class="bi bi-list offcanvas-title" style="font-size: 36px"></i>
        <h3 class="offcanvas-title">Menu</h3>
        <button class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item my-2">
            <i class="bi bi-circle-fill pe-3" style="color: #ffa559"></i>
            <a
              class="text-decoration-none fw-bold text-dark"
              href="/admin/dashboard"
              >Dashboard</a
            >
          </li>
          <li class="list-group-item my-2" style="background-color: #ffe6c7">
            <i class="bi bi-circle-fill pe-3" style="color: #ffa559"></i>
            <a class="text-decoration-none fw-bold text-dark" href="#"
              >Return asset</a
            >
          </li>
          <li class="list-group-item my-2">
            <i class="bi bi-circle-fill pe-3" style="color: #ffa559"></i>
            <a
              class="text-decoration-none fw-bold text-dark"
              href="/admin/assetlist"
              >Asset list</a
            >
          </li>
          <li class="list-group-item my-2">
            <i class="bi bi-circle-fill pe-3" style="color: #ffa559"></i>
            <a
              class="text-decoration-none fw-bold text-dark"
              href="/admin/history"
              >History</a
            >
          </li>
          <li class="list-group-item my-2">
            <i class="bi bi-circle-fill pe-3" style="color: #ffa559"></i>
            <a
              class="text-decoration-none fw-bold text-dark"
              href="#"
              onclick="logout()"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="modalId"
      tabindex="-1"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      role="dialog"
      aria-labelledby="modalTitleId"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">Update List Borrowing</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="update">
            <div class="modal-body" id="body">
              <div class="my-1">
                <h6 for="status" class="form-label">Status</h6>
                <input
                  type="radio"
                  name="status"
                  id="approve"
                  value="2"
                  onclick="document.getElementById('message').disabled = true;"
                  type="radio"
                  name="type"
                  checked="checked"
                />
                <span class="text-success fw-bold">Approve</span>
                <input
                  type="radio"
                  name="status"
                  id="reject"
                  value="3"
                  onclick="document.getElementById('message').disabled = false;"
                />
                <span class="text-danger fw-bold">Reject</span>
              </div>
              <div class="my-1">
                <h6 for="message" class="form-label">Message</h6>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="2"
                  class="form-control"
                  disabled
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/public/js/admin/bar.js"></script>
    <script src="/public/js/admin/return.js"></script>
  </body>
</html>
