<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-icons-1.5.0/bootstrap-icons.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <title>Document</title>
</head>
<body style="background-image: url('/public/img/landing.jpg'); background-size: cover;">
    <!-- navbar -->
    <nav class="navbar ps-1 pe-3 shadow bg-white bg-opacity-25" style="height: 6rem;">
        <h1 class="ps-5">Asset borrowing</h1>
    </nav>
    <div style="height: 8rem;">
        <!-- blank element -->
    </div>
    <!-- content -->
    <div class="container mt-5 shadow text-center p-5 bg-white bg-opacity-25 rounded-5" style="width: 20rem;">
        <div class="d-inline-flex flex-column justify-content-center" style="width: 8rem;">
            <h3>Welcome</h3>
            <button class="btn border border-1 my-3 shadow" onclick="goUser()"style="background-color: #FFA559;">Student & Aj</button>
            <button class="btn border border-1 shadow" onclick="goAdmin()"style="background-color: #FFA559;">Admin</button>
        </div>
    </div>
    <script src="/public/js/landing.js"></script>
</body>
</html>