<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-icons-1.5.0/bootstrap-icons.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <title>Asset List</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar ps-1 pe-3 shadow sticky-top" style="background-color: #FFA559; height: 6rem;">
        <a class="text-white" data-bs-toggle="offcanvas" href="#menu">
            <i class="bi bi-list" style="font-size: 36px;"></i>
        </a>
        <h1>Asset List</h1>
        <button class="btn btn-sm border-2 border-black rounded-5 shadow fw-bold" onclick="logout()"
            style="background-color: #FFE6C7;">Sign out</button>
    </nav>

    <!-- search bar -->
    <div class="container text-center">
        <div class="d-inline-flex">
            <div class="input-group mt-3" role="group">
                <input class="form-control rounded-start-5 border-1 border-black border-end-0" type="text" name=""
                    id="txtsearch" placeholder="Search Asset name" onkeyup="searchAsset()">
                <a class="input-group-text btn px-3 rounded-end-5 border-1 border-black border-start-0" href="#"
                    style="background-color:#FFE6C7;">
                    <i class="bi bi-search"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="m-5 mt-3 text-center">
        <table class="table table-bordered table-hover">
            <thead class="table-warning">
                <tr>
                    <td>ID</td>
                    <td>Image</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>borrow</td>
                </tr>
            </thead>
            <tbody id="all-asset">
                <!-- <tr>
                    <td><img src="/public/img/chair.png" alt="asset image" height="40px"></td>
                    <td>Chair</td>
                    <td><p class="text-start">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit itaque fuga,
                        quos earum laudantium corporis ex delectus tempore beatae cupiditate numquam ab autem asperiores odit architecto magnam,
                        sed totam!
                    </p></td>
                    <td><a class="btn btn bg-success text-white" href="borrow.html">Borrowed</a></td>
                </tr> -->
                <!-- <tr>
                    <td><img src="/public/img/chair.png" alt="asset image" height="40px"></td>
                    <td>Chair</td>
                    <td><p class="text-start">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reprehenderit itaque fuga,
                        quos earum laudantium corporis ex delectus tempore beatae cupiditate numquam ab autem asperiores odit architecto magnam,
                        sed totam!
                    </p></td>
                    <td><a class="btn btn bg-success text-white" href="borrow.html">Borrowed</a></td>
                </tr> -->
            </tbody>
        </table>
        <!-- <a class="col text-decoration-none mt-4" href="/views/user/b-asset.html">
            <div class="card-group text-center" style="width: 15rem;">
                <div class="card">
                    <img class="card-img-top p-3" src="/public/img/bootstrap5.png" alt="img asset">
                    <div class="card-body">
                        <h3 class="card-title">Asset ...</h3>
                    </div>
                </div>
            </div>
        </a> -->
    </div>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start rounded-end-5" id="menu">
        <div class="offcanvas-header">
            <i class="bi bi-list offcanvas-title" style="font-size: 36px;"></i>
            <h3 class="offcanvas-title">Menu</h3>
            <button class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item disabled my-2" style="background-color: #FFE6C7;">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="#">Asset list</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/user/status">Status</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/user/profile">Profile</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/user/history">History</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark"
                        href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDpKsfRfdcRVpqTHkQTtgHKNdJlZQCWgnvKfDmxgjWCKbgscXFxkKnNVrpCFfpXPbnZgHtl">Contact</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="#" onclick="logout()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
        aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Borrow</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="borrow">
                    <div class="modal-body">
                        <!-- borrow -->
                        <div class="mb-3">
                            <h3>Borrow Date</h3>
                            <input class="form-control border-2 border-dark rounded-5 fw-bold" type="text"
                                onfocus="(this.type='date')" onblur="(this.type='text')" id="brdate"
                                placeholder="Borrowing date">
                        </div>
                        <!-- return -->
                        <div>
                            <h3>Return Date</h3>
                            <input class="form-control border-2 border-dark rounded-5 fw-bold" type="text"
                                onfocus="(this.type='date')" onblur="(this.type='text')" id="rtdate"
                                placeholder="Return date">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/public/js/user/assetlist.js"></script>
</body>

</html>