<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <title>Regsister</title>
</head>

<body>
    <!-- navbar -->
    <nav class="shadow d-flex justify-content-center" style="background-color: #FFA559; height: 6rem;">
        <div class="d-flex flex-column justify-content-center">
            <h1>Register</h1>
        </div>
    </nav>
    <!-- form register -->
    <div class="container m-auto mt-5" style="width: 350px;">
        <form class="d-flex flex-column justify-content-center" id="formInput">
            <!-- name -->
            <div class="form-floating">
                <input class="form-control mb-3 border-2 border-black rounded-pill shadow" type="text" name="txtname"
                    placeholder="Name" required>
                <label class="ms-2 fw-bold" for="txtname">Name</label>
            </div>
            <!-- email -->
            <div class="form-floating">
                <input class="form-control mb-3 border-2 border-black rounded-pill shadow" type="email" name="txtemail"
                    placeholder="Email" required>
                <label class="ms-2 fw-bold" for="txtemail">Email</label>
            </div>
            <!-- password -->
            <div class="form-floating">
                <input class="form-control mb-3 border-2 border-black rounded-pill shadow" type="password"
                    name="txtpassword" placeholder="Password" minlength="8" required>
                <label class="ms-2 fw-bold" for="txtpassword">Password</label>
            </div>
            <!-- confirm password -->
            <div class="form-floating">
                <input class="form-control mb-3 border-2 border-black rounded-pill shadow" type="password"
                    name="txtconfirmpass" placeholder="Confirm Password" minlength="8" required>
                <label class="ms-2 fw-bold" for="txtconfirmpass">Confirm Password</label>
            </div>
            <!-- select -->
            <div class="d-inline-flex justify-content-between mb-3">
                <!-- major -->
                <div>
                    <label class="fw-bold" for="slcMajor">Major</label>
                    <select class="border-2 border-black shadow" name="Major" id="slcMajor" required>
                        <option value="CE">Computer Engineer</option>
                        <option value="SE">Software Engineer</option>
                        <option value="MTA">MTA</option>
                    </select>
                </div>
                <!-- year -->
                <div>
                    <label class="fw-bold" for="slcYear">Year</label>
                    <select class="border-2 border-black shadow" name="year" id="slcYear" required>
                        <option value="1">1<sup>st</sup></option>
                        <option value="2">2<sup>nd</sup></option>
                        <option value="3">3<sup>rd</sup></option>
                        <option value="4">4<sup>th</sup></option>
                    </select>
                </div>
            </div>
            <!-- phone number -->
            <div class="form-floating">
                <input class="form-control mb-3 border-2 border-black rounded-pill shadow" type="text" name="txtphone"
                    placeholder="Phone Number" maxlength="10" minlength="10" pattern="[0]{1}[0-9]{9}" title="Format (0xxxxxxxxx)" required> 
                <label class="ms-2 fw-bold" for="txtphone">Phone Number</label>
            </div>
            <!-- student id -->
            <div class="form-floating">
                <input class="form-control mb-3 border-2 border-black rounded-pill shadow" type="text" name="txtstuID"
                    placeholder="Student ID" maxlength="10" minlength="10" title="Student ID invalid" required>
                <label class="ms-2 fw-bold" for="txtStuID">Student ID</label>
            </div>
            <!-- button -->
            <div class="d-flex justify-content-between mb-3">
                <!-- cancel -->
                <button class="btn border-2 border-black rounded-5 shadow fw-bold"
                   type="button" style="background-color: #FFE6C7;" onclick="goBack()">Cancel</button>
                <!-- register -->
                <button class="btn border-2 border-black rounded-5 shadow fw-bold" id="register"
                    style="background-color: #FFA559;" type="submit" >Register</button>
            </div>
        </form>
    </div>
    <script src="/public/js/user/register.js"></script>
</body>

</html>