<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/MfU.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- navbar -->
    <nav class="shadow d-flex justify-content-center" style="background-color: #FFA559; height: 6rem;">
        <div class="d-flex flex-column justify-content-center">
            <h1>Forgot Password</h1>
        </div>
    </nav>
    <!-- content -->
    <div class="container mt-3" style="width: 500px;">
        <div class="card border-dark rounded-5 px-4 shadow" style="margin-top: 10rem;">
            <!-- form repass -->
            <form class="mt-4" id="formRepass">
                <!-- New password -->
                <label class="fw-bold form-label" for="txtpass">New Password</label>
                <div class="mb-3 form-floating">
                    <input class="form-control border-black border-2 rounded-5 shadow" type="password" name="txtpass"
                        placeholder="Email" minlength="8" required>
                    <label class="form-label ms-2" for="txtpass">New Password</label>
                </div>
                <!-- Confirm password -->
                <label class="fw-bold form-label" for="txtrepass">Confirm Password</label>
                <div class="mb-3 form-floating">
                    <input class="form-control border-black border-2 rounded-5 shadow" type="password" name="txtrepass"
                        placeholder="Email" minlength="" required>
                    <label class="form-label ms-2" for="txtrepass">Confirm Password</label>
                </div>


                <!-- login button -->
                <div class="d-flex justify-content-around mb-4">
                    <button class="btn btn-sm border-black rounded-5 border-2 fw-bold shadow"
                        type="button" style="background-color: #FFE6C7; width: 5rem" onclick="goBack()">Cancle</button>
                    <button class="btn btn-sm border-black rounded-5 border-2 fw-bold shadow"
                       type="submit" style="background-color: #FFA559; width: 10rem">Confirm</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/js/user/repass.js"></script>
</body>

</html>