.bold{
	font-weight: bolder;
}

.text{
	font-size: 25px; 
	font-weight: bolder;
}
.colors{
	color: #2d5d14;
}
.text-ligther{
	font-size: 25px; 
	font-weight:lighter
}
.custom-thead {
	height: 60px; /* Adjust the height as needed */
	padding: 20px;
}
.custom-modal {
    width: 100%; 
    height: 1500px; 
}
/* Table */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	overflow: hidden; /* Add this line */
}
/* header */
.styled-table thead tr {
    background-color: rgb(255, 154, 89);
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 4px solid rgb(255, 230, 199);
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgb(255, 96, 0);
}

/* borrow btn */
.br-btn{
	font-weight: bold;
	font-size: 15px;
	border: 2px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 3px 3px 0 rgba(0, 0, 0, 0.3),
		-3px 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	/* Rounded corners */
	padding: 15px 15px;
	cursor: pointer;
}
.br-btn:hover {
    background-color:rgb(69, 69, 69); 
	color: #ffffff;
}
				
/* =============================== */
.pallete-colors {
	background-color: rgb(255, 96, 0);
	background-color: rgb(255, 230, 199);
	background-color: rgb(255, 154, 89);
	background-color: rgb(69, 69, 69);
}
/* List Page */

.container-wrapper {
	align-items: center;
	justify-content: center;
	
}
.rounded-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	/* Rounded corners for the container */
	background-color: rgb(255, 230, 199);
	/* Background color for the container */
	padding: 20px;
	margin: 20px;
	border: 2px solid black;
	height:700px;
	width: 300px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 5px 5px 0px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.heading{
	font-weight: bolder;
	color:rgb(255, 230, 199);
	padding-left: 100px;
}
.h-profile{
	font-weight: bolder;
	color:rgb(255, 230, 199);
	padding-left: 180px;
}
/* Rounded heading styles */
.rounded-heading,
.rounded-2heading,
.rounded-3heading,
.rounded-4heading,
.rounded-5heading,
.rounded-6heading {
	font-weight: bolder;
	border-radius: 18px;
	padding: 10px 20px;
	position: fixed;
	text-align: center;	
	border: 2px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
}

.rounded-heading {
	background-color: rgb(255, 154, 89);
}

.rounded-2heading {
	background-color: white;
	margin-top: 100px;
	margin-left: 50px;
}

.rounded-3heading {
	background-color: white;
	margin-top: 200px;
	margin-left: 50px;
}

.rounded-4heading {
	background-color: white;
	margin-top: 300px;
	margin-left: 50px;
}

.rounded-5heading {
	background-color: white;
	margin-top: 400px;
	margin-left: 50px;
}

.rounded-6heading {
	background-color: white;
	margin-top: 500px;
	margin-left: 50px;
}

.custom-swal {
    width: 80%; 
    height: 900px; 
}

/* Rounded status styles */
.status,
.status2,
.status3,
.status4,
.status5 {
	font-weight: bolder;
	border-radius: 18px;
	padding: 10px 20px;
	position: fixed;
	text-align: center;	
	border: 2px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
}


.status2 {
	background-color: rgb(156, 204, 118);
	margin-top: 110px;
	margin-left: 50px;
}

.status3 {
	background-color: rgb(255, 154, 89);
	margin-top: 210px;
	margin-left: 50px;
}

.status4 {
	background-color: rgb(156, 204, 118);
	margin-top: 310px;
	margin-left: 50px;
}

.status5 {
	background-color: rgb(255, 89, 89);
	margin-top: 410px;
	margin-left: 50px;
}

#green-button,
#warning-button,
#green2-button,
#problems-button{
    position: absolute;
	font-weight: bold;
	font-size: 25px;
	color: black;
	/* Text color */
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 10px 20px;
	cursor: pointer;
	margin-left: 100px;
	
}
#green-button{
	background-color: rgb(156, 204, 118);
	margin-top: 100px;
}
#warning-button{
	background-color: rgb(255, 154, 89);
	margin-top: 200px;
}
#green2-button{
	background-color: rgb(156, 204, 118);
	margin-top: 300px;
}
#problems-button{
	background-color: rgb(255, 89, 89);
	margin-top: 400px;
}
#green-button:hover {
    background-color: #4fc514; 
	color: #ffffff;
}

#warning-button:hover {
    background-color: #4fc514; 
	color: #ffffff;
}

#green2-button:hover {
    background-color: rgb(255, 96, 0); 
	color: #ffffff;
}
#problems-button:hover {
    background-color: rgb(214, 38, 38); 
	color: #ffffff;
}
#hist-btn{
	font-weight: bold;
	font-size: 25px;
	background-color: rgb(255, 96, 0);
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 15px 20px;
	cursor: pointer;
}
#hist-btn:hover {
    background-color: rgb(214, 38, 38); 
	color: #ffffff;
}
/* History Container */
.ht {
	background-color: rgb(255, 154, 89);
	font-weight: bolder;
	border-radius: 28px;
	padding: 10px 100px;
	position: fixed;
	text-align: center;	
	border: 2px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
}
.ht2,
.ht3,
.ht4,
.ht5 {
	font-weight: bolder;
	border-radius: 18px;
	padding: 10px 0px;
	position: fixed;
	text-align: left;	
	margin-left: 10px;
}
.ht6,.ht9 {
	color: #4fc514;
	font-weight: bolder;
	border-radius: 18px;
	padding: 10px 0px;
	position: fixed;
	text-align: left;	
	margin-left: 10px;
	margin-top: 80px;
}
.ht7,.ht8 {
	font-weight: bolder;
	border-radius: 18px;
	padding: 10px 0px;
	position: fixed;
	text-align: left;	
	margin-left:  750px;
	margin-top: 80px;
}
.ht7{
	color:rgb(255, 154, 89);
}
.ht8,.ht9{
	color:rgb(214, 38, 38); 
}
.info-ht {
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin-top: 100px;
	margin: 20px;
	border: 2px solid black;
	height:200px;
	width: 1200px !important;
	margin-left: 50px;
	margin-top: 50px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 5px 5px 0px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);	
}


#green-bt-ht,
#warning-bt-ht,
#green2-bt-ht,
#problems-bt-ht{
    position: absolute;
	font-weight: bold;
	font-size: 25px;
	color: black;
	/* Text color */
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 10px 20px;
	cursor: pointer;
	
}
#green-bt-ht{
	background-color: rgb(156, 204, 118);
	margin-top: 100px;
	margin-left: -100px;	
}
#warning-bt-ht{
	background-color: rgb(255, 154, 89);
	margin-top: 200px;
	margin-left: -100px;	
}
#green2-bt-ht{
	background-color: rgb(156, 204, 118);
	margin-left: -100px;
	margin-top: 300px;	
}
#problems-bt-ht{
	background-color: rgb(255, 89, 89);
	margin-top: 400px;
	margin-left: -100px;
}
#green-bt-ht:hover {
    background-color: #4fc514; 
	color: #ffffff;
}

#warning-bt-ht:hover {
    background-color: #4fc514; 
	color: #ffffff;
}

#green2-bt-ht:hover {
    background-color: rgb(255, 96, 0); 
	color: #ffffff;
}
#problems-bt-ht:hover {
    background-color: rgb(214, 38, 38); 
	color: #ffffff;
}

/* DATE */

.date-1,
.date-2,
.date-3,
.date-4{
	background-color: #ffffff;
    position: absolute;
	font-weight: bold;
	font-size: 25px;
	color: black;
	/* Text color */
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 10px 0px;
	cursor: pointer;
	
}
.date-1{
	margin-top: 100px;
}
.date-2{
	margin-top: 200px;
}
.date-3{
	margin-top: 300px;
}
.date-4{	
	margin-top: 400px;
}
.inline-text,
.inline-text2,
.inline-text3,
.inline-text4
  {
	display: inline;
	background-color: rgb(244, 199, 145);
	font-weight: bold;
	font-size: 25px;
	color: black;
	/* Text color */
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 10px 0px;
	margin-top: 100px
}
.inline-text
{
    margin-top: 100px !important;
}
.inline-text2,
.inline-text3,
.inline-text4
{
    margin-top: 40px !important;
}


#green-button:hover {
    background-color: #4fc514; 
	color: #ffffff;
}

#warning-button:hover {
    background-color: #4fc514; 
	color: #ffffff;
}

#green2-button:hover {
    background-color: rgb(255, 96, 0); 
	color: #ffffff;
}
#problems-button:hover {
    background-color: rgb(214, 38, 38); 
	color: #ffffff;
}

/* --------------------------------------------------------------------------------------------- */
/* Profile Page */
.rounded-info {
	position: absolute;
	top: 65%;
	left: 30%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	/* Rounded corners for the container */
	background-color: rgb(255, 255, 255);
	/* Background color for the container */
	/* padding: 20px; */
	/* margin: 50px; */
	border: 2px solid black;
	height:400px;
	width: 680px !important;
	margin-left: 450px;
	margin-top: -100px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 5px 5px 0px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.avatar {
	width: 50px;
	height: 50px;
	margin-top: 150px;
	margin-left: 120px;	
}
.avatar img {	
	width: 200px; 
	height: 200px; 
	border-radius: 20px; 
}
.per-head {
	position: absolute;
	top: 10%;
	left: 20%;
	transform: translate(-50%,-50%);
	background-color: rgb(69, 69, 69);
	color: white;
	font-weight: bolder;
	border-radius: 28px;
	padding: 10px 20px;
	position: fixed;
	text-align: center;	
	border: 2px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	}
.user,
.school,
.mail,
.tel {
	font-weight: bolder;	
	position: fixed;
	text-align: center;		
}
.user {
	background-color: white;
	margin-top: 40px;
	margin-left: 50px;
}

.school {
	background-color: white;
	margin-top: 120px;
	margin-left: 50px;
}

.mail {
	background-color: white;
	margin-top: 200px;
	margin-left: 50px;
}

.tel {
	background-color: white;
	margin-top: 280px;
	margin-left: 50px;
}
/* ---------------------------------------------------------------------------------- */
/* ---- MESSAGES------- */
.msg-h,
.msg-2h,
.msg-3h,
.msg-4h,
.msg-5h{
	font-weight: bolder;
	border-radius: 27px;
	position: fixed;
	text-align: center;	
	border: 2px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
}

.msg-h {
	background-color: rgb(255, 154, 89);
	padding: 10px 20px;
	color: white;
}

.msg-2h {
	background-color: rgb(255, 154, 89);
	margin-top: 100px;
	margin-left: 100px;
	padding: 20px 20px;
}

.msg-3h {
	background-color: rgb(255, 154, 89);
	margin-top: 200px;
	margin-left: 100px;
	padding: 20px 20px;
}

.msg-4h {
	background-color: rgb(255, 154, 89);
	margin-top: 300px;
	margin-left: 100px;
	padding: 20px 20px;
}

.msg-5h {
	background-color: rgb(255, 154, 89);
	margin-top: 400px;
	margin-left: 100px;
	padding: 20px 20px;
}

#green-chInbox,
#aware-chInbox,
#warning-chInbox,
#problems-chInbox{
    position: absolute;
	font-weight: bold;
	font-size: 25px;
	color: black;
	/* Text color */
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 10px 20px;
	cursor: pointer;
	
}
#green-chInbox{
	background-color: rgb(156, 204, 118);
	margin-top: 110px;
	margin-left: 130px;
}
#warning-chInbox{
	background-color: rgb(198, 255, 107);
	margin-top: 210px;
	margin-left: 130px;
}
#aware-chInbox{
	background-color: rgb(214, 184, 75);
	margin-top: 310px;
	margin-left: 130px;
}
#problems-chInbox{
	background-color: rgb(255, 75, 75);
	margin-top: 410px;
	margin-left: 130px;
}
#green-chInbox:hover,
#warning-chInbox:hover {
    background-color: #2d5d14; 
	color: #ffffff;
}
#aware-chInbox:hover {
    background-color: rgb(114, 95, 26); 
	color: #ffffff;
}
#problems-chInbox:hover {
    background-color: rgb(214, 38, 38); 
	color: #ffffff;
}
#edit-info-btn{
	font-weight: bold;
	font-size: 25px;
	background-color: rgb(255, 96, 0);
	border: 3px solid black;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 5px 5px 0 rgba(0, 0, 0, 0.3),
		-5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	/* Rounded corners */
	padding: 15px 20px;
	cursor: pointer;
	margin-top: 420px;
	margin-left: 560px;
}
#edit-info-btn:hover {
    background-color: rgb(214, 38, 38); 
	color: #ffffff;
}
.text-left {
	float: left; 
}
  
/* ------------------------------------------------------------------------------------ */