*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.amount{
    height: 10rem;
    width: 15;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    color: var(--sidebar-color);
    margin-bottom: 1.75rem;
}
.amount:hover{
    background-color: var(--sidebar-color);
    color:  var(--primary-color);
}

.graph{
    padding: 1rem;
    height: 40rem;
    width: 30rem;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    margin-bottom: 1.75rem;
}

.contents_left{
    /* background-color: red; */
    margin-right: 1rem;
}

.contents_right{
    /* background-color: red; */
    margin-left: 1rem;
}
.content_text{
    text-decoration: none;
    user-select: none;
}