<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <title>Login</title>
</head>

<body>
    <!-- navbar -->
    <nav class="vw-100 shadow" style="background-color: #FFA559; height: 6rem;"></nav>
    <!-- Content -->
    <div class="container mt-3" style="width: 350px;">
        <!-- Logo and Login text -->
        <div class="text-center">
            <img src="/public/img/bootstrap5.png" alt="Logo" height="48">
            <h3>Login</h3>
        </div>
        <!-- form Login -->
        <form class="mt-4">
            <!-- Email -->
            <label class="fw-bold form-label" for="txtemail">Email</label>
            <div class="mb-3 form-floating">
                <input class="form-control border-black border-2 rounded-5 shadow" type="email" id="txtemail" placeholder="Email">
                <label class="form-label ms-2" for="txtemail">Email</label>
            </div>
            <!-- Password -->
            <label class="fw-bold" for="txtpassword">Password</label>
            <div class="mb-3 form-floating">
                <input class="form-control border-black border-2 rounded-5 shadow" type="password" id="txtpassword" placeholder="Password">
                <label class="form-label ms-2" for="txtpassword">Password</label>
            </div>
        </form>
        <!-- forgot password -->
        <div class="text-end text-primary my-2 ">
            <a class="text-decoration-none" href="#">Forgot password</a>
        </div>
        <!-- login button -->
        <div class="text-center mb-4">
            <a class="btn btn-sm border-black rounded-5 border-2 fw-bold shadow"
                style="background-color: #FFA559; width: 5rem" href="/views/aj/main.html">Login</a>
        </div>  
        
    </div>
</body>
</html>