<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-icons-1.5.0/bootstrap-icons.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="/public/css/aj/asset.css">
    <title>Asset</title>

</head>

<body>


    <!-- navbar -->
    <nav class="navbar ps-1 pe-3 shadow" style="background-color: #FFA559; height: 6rem;">
        <a class="text-white" data-bs-toggle="offcanvas" href="#menu">
            <i class="bi bi-list" style="font-size: 36px;"></i>
        </a>
        <h1>Asset borrowing</h1>
        <button class="btn btn-sm border-2 border-black rounded-5 shadow fw-bold" id="signout"
            style="background-color: #FFE6C7;">Sign out</button>
    </nav>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start rounded-end-5" id="menu">
        <div class="offcanvas-header">
            <i class="bi bi-list offcanvas-title" style="font-size: 36px;"></i>
            <h3 class="offcanvas-title">Menu</h3>
            <button class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item my-2" style="background-color: #FFE6C7;">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/aj/main">Asset borrowing</a>
                </li>
                <li class="list-group-item my-2" >
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/aj/list">List</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/aj/message">Messages</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/aj/profile">Profile</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="/aj/history">History</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDpKsfRfdcRVpqTHkQTtgHKNdJlZQCWgnvKfDmxgjWCKbgscXFxkKnNVrpCFfpXPbnZgHtl">Contact</a>
                </li>
                <li class="list-group-item my-2">
                    <i class="bi bi-circle-fill pe-3" style="color: #FFA559;"></i>
                    <a class="text-decoration-none fw-bold text-dark" href="#" onclick="logout()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Dashboard  -->
    <div class="container-fluid mt-5">
        <div class="row content">
            <div class="col-sm-9">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-sm-3">
                        <div class="card custom-card">
                            <div class="card-body">
                                <h4 class="card-title">Amount: 23</h4>
                                <p class="card-text">Amount of request</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-card">
                            <div class="card-body">
                                <h4 class="card-title">Amount: 17</h4>
                                <p class="card-text">Amount of borrowing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card custom-card">
                            <div class="card-body">
                                <h4 class="card-title">Amount: 5</h4>
                                <p class="card-text">Amount of late return</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <div class="container-fluid mt-5 ">
        <div class="row content">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <canvas id="myChart" class="centered-canvas" style="max-width: 600px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var xValues = ["Amount of request", "Amount of borrowing", "Amount of late return"];
        var yValues = [23, 17, 5];
        var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797"
        ];
    
        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            
        });
    </script>
    <script src="/public/js/aj/main.js"></script>

</body>

</html>